<h1>Sign up</h1>

<%= form_for(@user) do |f| %>
	<%= render 'fields', :f => f %>
	<fieldset>
	<div class="actions">
    
    <%= f.label :role, "Sign up as:" %><br>
    <%= f.radio_button :role, "jobseeker",:required=>"required" %>
    <%= f.label :role, "Job seeker", :value=>"jobseeker",:id=>"label_roles" %><br>
    <%= f.radio_button :role, "employer",:required=>"required" %>
    <%= f.label :role, "Employer", :value=>"employer",:id=>"label_roles" %>
	</div>
	</fieldset><br>
	<fieldset>
	<div class="actions">
		<%= f.submit "Sign up", :id=>"signup_btn" %>
	</div>
	</fieldset>
<% end %>
