<% if signed_in? %>
	<% if current_user.role == "jobseeker" %>
		<%#
		<%#= form_tag jobs_path, :method=>'get' do %>
		<%#	<p align="center">
				<%= text_field_tag :search %>
		<%#		<%= submit_tag "Search All", :id=>"search_btn", :name=>nil %>
		<%#	</p> %>
			
			<div>
			<h1>Available Jobs according to your profile</h1>
				<%if @jobs%>
					<ul>
						<li>						
							<% @jobs.each do |job|%>
								<div>
								<h4>
								<%= link_to job.title, job %><h4>
								<div class = "dets">
								<%=job.job_type%> | <%= job.location %> | Deadline: <%= job.deadline.to_date %>
								</div>
								<hr>
								</div>
							<% end %>
						</li>
					</ul>
				<%elsif%>
					<h1>Sorry, no job listing are available. Try editing your profile to get job new listings.</h1>
				<%end%>
			</div>
		<%#<% end %>
		
	<% elsif current_user.role == "employer" %>
		
	<%#	<%= form_tag jobseekers_path, :method=>'get' do %>
	<%#		<p align="center">
	<%#			<%= text_field_tag :search %>
	<%#			<%= submit_tag "Search All", :id=>"search_btn", :name=>nil %>
	<%#		</p>
	<%#	<% end %>
		<div>
			<h1>Job seekers that qualify for your posted jobs</h1>
				<%if @seekers%>
					<ul>
						<li>
						<h4>
					<% @seekers.each do |details| %>
						<% details.each do |detail| %>
							<% @users = detail.user_id %>
							<% @user = User.find(@users) %>
							<% name1 = @user.first_name %>
							 <% name2 = @user.last_name%>
							<%= link_to "#{name1} #{name2}", user_path(detail.user_id) %><br>
						<% end %>
				<% end %>
						</h4>
						</li>
					</ul>						
				<%elsif%>
					<h1>It seems we don't have any jobseekers that match, check back in a while... or post more jobs</h1>
				<%end%>
			</div>
		
	<% end %>
<div id="list">

	
	<ul id="list_items">
		<li>
			
		</li>
</div>
<% else %>
	<div class="splash">
        <h1 class="splash-head">JOB RADAR</h1>
        <p class="splash-subhead">
            Every Job At Your Finger Tips 
        </p>
        <p id="splash_btn">
         <%= link_to "Sign up now!", signup_path, :class=>"splash_btn" %>
        </p>
    </div>
	
<% end %>
